.panda-card{
	border: 0;
}

.panda-card-footer{
	background-color: white;
	border: 0;
}

.categories img{

	width: 100px;
}
.panda-slide .carousel-item{
	background-color: lightgreen;
	border-radius: 1em;
}
